
//=========== Grid ==========
.container{
	width: 1280px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

//=========== Grid Col ==========
.grid{
	display: flex;
	flex-wrap: wrap;
	width: auto;
    margin: 0 -2.3rem;
}

.col{
	width: 100%;
	padding: 0 2.3rem;

	&-1-2{
		width: calc(100%/2);
		max-width: 50%;
	}

	&-1-3{
		width: calc(100%/3);
		max-width: calc(100%/3);
	}

	&-2-3{
		width: calc((100%/3)*2);
		max-width: calc((100%/3)*2);
	}

	&-1-4{
		width: calc(100%/4);
		max-width: calc(100%/4);		
	}
}


@media screen and (max-width: 767px) {
    .grid-md-reverse{

    }

    .col{
        &-md-1-1{
            width: 100%;
            max-width: 100%;
            margin-bottom: 2.5rem;
        }

        &-md-1-2{
            width: calc(100%/2);
            max-width: 50%;
            margin-bottom: 2.5rem;
        }

        &-md-1-3{
            width: calc(100%/3);
            max-width: calc(100%/3);
        }

        &-md-2-3{
            width: calc((100%/3)*2);
            max-width: calc((100%/3)*2);
        }

        &-md-1-4{
            width: calc(100%/4);
            max-width: calc(100%/4);		
        }
    }
}